<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>控制台主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">

        <div class="layui-col-md12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="/verify/">
                                                <i class="layui-icon layui-icon-survey"></i>
                                                <cite>工单审核</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href=/inpatient_on_leave_list/>
                                                <i class="layui-icon layui-icon-user"></i>
                                                <cite>在院核查</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/hygiene_verify/">
                                                <i class="layui-icon layui-icon-tree"></i>
                                                <cite>卫生巡查</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/subsidy_verify/">
                                                <i class="layui-icon layui-icon-tabs"></i>
                                                <cite>加班审核</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/vehicle_v/">
                                                <i class="layui-icon layui-icon-engine"></i>
                                                <cite>车辆调度</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/conference_list/">
                                                <i class="layui-icon layui-icon-list"></i>
                                                <cite>会务审核</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/medicine_validity/">
                                                <i class="layui-icon layui-icon-unlink"></i>
                                                <cite>效期预警</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="/xxk/" target="_blank">
                                                <i class="layui-icon layui-icon-tips"></i>
                                                <cite>信息科</cite>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="/ongoing/">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>尚未开放</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/ongoing/">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>尚未开放</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="/ongoing/">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>尚未开放</cite>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">待办事项</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a lay-href="/verify/" class="layadmin-backlog-body">
                                                <h3>待审工单</h3>
                                                <p><cite
                                                        style="color: #FF5722;">{{ workorder_count|default:"0" }}</cite>
                                                </p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/inpatient_on_leave_list/" class="layadmin-backlog-body">
                                                <h3>在院核查</h3>
                                                <p><cite>{{ on_leave_count|default:"0" }}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/hygiene_verify/" class="layadmin-backlog-body">
                                                <h3>卫生巡查</h3>
                                                <p><cite>{{ hygiene_inspection|default:"0" }}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="/subsidy_verify/" class="layadmin-backlog-body">
                                                <h3>加班审核</h3>
                                                <p><cite>{{ subsidy_count|default:"0" }}</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a lay-href="/conference_list/" class="layadmin-backlog-body">
                                                <h3>会务审核</h3>
                                                <p><cite>{{ conference_count|default:"0" }}</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
            <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card">
                    <div class="layui-card-header">
                        系统公告
                        <i class="layui-icon layui-icon-tips" lay-offset="5"></i>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-collapse" style="margin-top: 6px; margin-bottom: 6px"
                             lay-filter="component-panel">
                            {% for n in notice %}
                                <div class="layui-colla-item">
                                    <h4 class="layui-colla-title">{{ n.title }}<i
                                            class="layui-icon layui-colla-icon"></i><a class="layui-layout-right"
                                                                                        style="padding-right: 4%">{{ n.time|date:"Y-n-j" }}</a>
                                    </h4>
                                    <div class="layui-colla-content">
                                        <p>{{ n.desc }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<script src="/static/layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '/static/layuiadmin/'
        , version: true
    }).extend({
        index: 'lib/index'
    }).use(['index', 'console']);
</script>
</body>
</html>

